.skill_list{
    display: flex;
    margin-top: 13px;
    font-size: 1.6em;
    border-bottom: 2px solid rgb(199, 223, 238); 
}

.li_item{
    flex: 2;
    margin-right: 15px;  
}

.saving_icon img{
    background-image: url("/saving_icon_white.png");
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover; 
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 16px;
}
 

.li_item_skill{
    flex: 6;
}

.skills_heading {
    color: #838383;
    font-weight: 700;
}

.bonus_box{
    text-align: center;
    width: 70%;
    height: 70%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}